## Ignore Visual Studio temporary files, build results, and
## user-specific settings.

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Mono geneated temporary files
*.mono

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Re]leases/
x64/
x86/
build/
bin/
obj/

# Visual Studio 2015/2017/2019/2022 cache directory
.vs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Rider
.idea/
*.sln.iml

# OS metadata
.DS_Store
Thumbs.db

# SQLite transient files
*.db-shm
*.db-wal

